<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style=font-family:system-ui;">
    <div style="text-align:center; position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);">

        <div style="width:350px; box-shadow: 0px 0px 2px 5px powderblue;
        margin: 20px; border: 1px solid crimson; padding: 50px; border:1px solid white">
            <img src="https://img.icons8.com/external-smashingstocks-circular-smashing-stocks/344/external-mail-messages-smashingstocks-circular-smashing-stocks.png" alt="" srcset=""  style="height: 100px; width: 100px;">
            <p style="font-size: 22px; line-height: 28px;">Here is your One Time Password</p>
            <P style="font-size:30px; font-weight:900; margin-bottom: 25px; margin-top:-2px;">
                <%= otp %>
            </P>
            <p style="color: rgba(241, 69, 69, 0.829); font-size:14px; font-weight:900; margin: 0; margin-top:-15px">
                Valid For 2 minutes Only
            </p>

        </div>
    </div>
</body>
</html>